<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <head>
<style>
    .about-container {
      color: white;
    }
  </style>

  </head>
  <body>
    <%- include('../partials/header.ejs') %> 
    <%- include('../partials/nav.ejs') %>

    <!-- Main Content -->
    <main class="about-container">
      
        
			
				
					
						<h3>Privacy Policy</h3>
						<p>Thank you for visiting www.spane4all.co.za This Privacy Policy outlines how we collect, use, disclose, 
				  and safeguard your personal information. By accessing or using our website, you agree to the terms outlined in this policy..</p>
					


			
			

				   <div class="txt-box">
                  <h3>Information We Collect<span></span></h3>
                  <p>Personal Information:<br>
Name: We may collect your name when you voluntarily provide it through our contact forms or registration processes.<br><br>
Email Address: Your email may be collected for communication purposes, newsletter subscriptions, or account registration.<br><br>
Contact Information: We may collect your phone number or other contact details for specific purposes, such as customer support.<br><br>
Non-Personal Information:<br>
Usage Data: We may collect information about your interactions with our website, including pages visited, time spent, and other analytics data.<br><br>
Device Information: We may collect information about the device you use to access our website, such as IP address, browser type, and device identifiers.<br><br>
</p>
                 
               </div>
			   	   <div class="txt-box">
                  <h3>How We Use Your Information:<span></span></h3>
                  <p>To Provide Services:<br>
				  We use your personal information to deliver the services you request, respond to inquiries, and provide customer support.<br><br>
Communication: Your contact information may be used to send you updates, newsletters, or promotional materials.<br><br>
Analytics: We use non-personal information for analytical purposes to improve our website, services, and user experience.<br><br>
Information Sharing:<br>
Third-Party Service Providers: We may share your information with third-party service providers who assist us in delivering our services or managing our website.<br><br>
Legal Compliance: We may disclose your information when required by law or to protect our rights, privacy, safety, or property.<br><br>


</p>

               </div>
			   	   <div class="txt-box">
                  <h3>Your Choices:<span></span></h3>
                  <p>Opt-Out: You can opt-out of receiving promotional emails by following the instructions in the email.<br>
				   <p>Cookies: You can set your browser to refuse cookies or alert you when cookies are being sent.
Security:<br>	   


We employ reasonable security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.

</p>
                 
               </div>
			        
			   	   <div class="txt-box">
                  <h3>Changes to This Privacy Policy:<span></span></h3>
                  <p>We reserve the right to update this Privacy Policy periodically. Any changes will be effective immediately upon posting the updated policy on this page.
<br>
				   

</p>
                 
               </div>
			<div class="container">
				<div class="row row-bottom-padded-md">
					<div class="col-md-12 animate-box">
						<figure>
							<img src="views/images/s4a.png" alt="" class="img-responsive">
						</figure>
					</div>
				</div>
				
			</div>
	
          
          
          
      </section>
    </main>

    <!-- Footer Section -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>