<section class="breaking-news-ticker">
      <div class="ticker-content">
        <div class="ticker-item">
          <img src="./assets/home/ramapho.jpeg" alt="News Image" />
          <a href="https://www.enca.com/top-stories/we-are-working-mending-relationship-us-ramaphosa" target="_blank">
            We are working on mending relationship with US - Ramaphosa
          </a>
        </div>
        <div class="ticker-item">
          <img src="./assets/home/outa.jpeg" alt="News Image" />
          <a href="https://www.enca.com/news-top-stories/outa-uncovers-systemic-fraud-testing-stations" target="_blank">
            Outa uncovers systemic fraud at testing stations
          </a>
        </div>
        <div class="ticker-item">
          <img src="./assets/home/investigat.jpeg" alt="News Image" />
          <a href="https://www.enca.com/news-top-stories/investigation-finds-counterfeit-electrical-goods-appliances-widely-available" target="_blank">
            Investigations finds counterfeit electrical goods, appliances widely available
          </a>
        </div>
        <div class="ticker-item">
          <img src="./assets/home/kzn.jpeg" alt="News Image" />
          <a href="https://www.enca.com/news-top-stories/kzn-anc-task-team-focuses-tripartite-alliance" target="_blank">
            KZN task team focuses on Tripartite Alliance
          </a>
        </div>
        <div class="ticker-item">
          <img src="./assets/home/us.jpeg" alt="News Image" />
          <a href="https://www.enca.com/opinion/us-democrats-fume-some-party-cave-trump-spending-bill" target="_blank">
            US Democrats fume as some in party cave Trump on spending bill
          </a>
        </div>
        <div class="ticker-item">
          <img src="./assets/home/rain.jpeg" alt="News Image" />
          <a href="https://www.enca.com/sport/norris-holds-verstappen-win-rain-hit-australian-grand-prix" target="_blank">
            Norris holds off Verstappen to win rain-hit Australian Grand Prix FM
          </a>
        </div>
      </div>
    </section>