<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/sports">Sports</a></li>
    <li><a href="/opinion">Opinion</a></li>
    <li><a href="/podcast">Podcast</a></li>
    <li><a href="/vacancies">Vacancies</a></li>
    <li><a href="/contacts">Contacts</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/login">Login</a></li>

    
    <input
      type="search"
      class="search"
      id="search"
      placeholder="Search News"
      label="search"
    />
  </ul>
</nav>
