<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %> <%- include('./partials/nav.ejs') %>

    <!-- Mission Section -->
    <section id="mission">
      <h2>Our Mission</h2>
      <p>
        At <strong class="strong">Inside Limpopo</strong>, our mission is to
        provide accurate, timely, and engaging news and content to the people of
        Limpopo. We aim to be the trusted source of information, empowering our
        community with knowledge and fostering meaningful conversations.
      </p>
    </section>

    <!-- Vision Section -->
    <section id="vision">
      <h2>Our Vision</h2>
      <p>
        Our vision is to create a platform that not only informs but also
        inspires and connects the people of Limpopo. We strive to be a catalyst
        for positive change, promoting transparency, inclusivity, and progress
        in our region.
      </p>
    </section>

    <!-- Team Section -->
    <section class="team-section" id="team">
      <h2>Meet Our Team</h2>
      <div class="team-member">
        <img src="https://via.placeholder.com/150" alt="Team Member 1" />
        <h4>Yancy Rikhotso</h4>
        <p>Editor-in-Chief</p>
      </div>
      <div class="team-member">
        <img src="https://via.placeholder.com/150" alt="Team Member 2" />
        <h4>Jane Rachidi</h4>
        <p>Senior Reporter</p>
      </div>
      <div class="team-member">
        <img src="https://via.placeholder.com/150" alt="Team Member 3" />
        <h4>Sylvia Mojapelo</h4>
        <p>Sports Analyst</p>
      </div>
    </section>

    <!-- Footer Section -->
    <%- include('./partials/footer.ejs') %>

    <script src="/routes/scipt.js"></script>
  </body>
</html>
