<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- Header Section -->
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>


    <!-- Footer Section -->
    <%- include('./partials/footer.ejs') %>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="./js/script.js"></script>
    <script>
      AOS.init();
      var state = false;
      function toggle() {
        if (state) {
          document.getElementById("password").setAttribute("type", "password");
          document.getElementById("eye").style.color = '#7a797e';
          state = false;
        } else {
          document.getElementById("password").setAttribute("type", "text");
          document.getElementById("eye").style.color = '#5887ef';
          state = true;
        }
      }
    </script>
  </body>
</html>
