<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- Header Section -->
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>

    <main>
      <section class="opinion-articles" id="opinionArticles">
        <article>
          <img alt="" />
          <h2></h2>
          <p></p>
          <a class="read-more"></a>
        </article>
      </section>
      <!-- <section class="opinion-articles">
        <img
          src="./assets/opinionimages/govern.jpg"
          alt="Person in wheelchair"
        />
        <h2>
          The GSA Plans to Sell Hundreds of Its Federal Government Buildings
        </h2>
        <p><strong>By Leah Feiger |</strong> Feb 12, 2025 3:56 PM</p>
        <p>
          The General Services Administration, staffed at its upper levels by
          Elon Musk associates, plans to sell 500-plus buildings—some of ...
        </p>
        <a
          href="https://www.wired.com/story/gsa-sell-government-buildings/#intcid=_wired-article-bottom-recirc_220d713d-45e5-412a-811f-b73f41d528e6_roberta-similarity1"
          class="read-more"
          >Read More</a
        >
      </section> -->

      <!-- <section class="opinion-articles">
        <img
          src="./assets/opinionimages/trump.jpg"
          alt="Person using adaptive technology"
        />
        <h2>
          Donald Trump Bought a $90,000 Tesla With 37 Recall Notices Against It
        </h2>
        <p><strong>By Jeremy White |</strong> Mar 12, 2025 12:45 PM</p>
        <p>
          Here’s hoping Elon Musk won’t have to personally fix President Trump’s
          new EV anytime ...
        </p>
        <a
          href="https://www.wired.com/story/donald-trump-bought-a-dollar90000-tesla-with-37-recall-notices-against-it/"
          class="read-more"
          >Read More</a
        >
      </section> -->

      <!-- <section class="opinion-articles">
        <img src="./assets/opinionimages/chealse.jpg" alt="Womens football" />
        <h2>
          Chelsea win Women’s League Cup final after own goal denies Manchester
          City
        </h2>
        <p><strong>By Tom Garry | </strong>Sat 15 Mar 2025 14.30 GMT</p>
        <p>
          It seems as though nothing can stop Sonia Bompastor in English
          football. Not a change of manager from Manchester City, not ...
        </p>
        <a
          href="https://www.theguardian.com/football/2025/mar/15/chelsea-manchester-city-womens-league-cup-final-match-report"
          class="read-more"
          >Read More</a
        >
      </section> -->

      <!-- <section class="opinion-articles">
        <img src="./assets/opinionimages/womanPhone.jpg" alt="Womens phone" />
        <h2>
          What are smartphones stealing from us? When mine was taken away, I
          found out.
        </h2>
        <p><strong>Alexander Hurst | </strong>Mon 10 Mar 2025 07.00 GMT</p>
        <p>
          A few Thursdays ago was a wrap. For my brief acting career, that is.
          One of the benefits of having a writer’s schedule in a city like Paris
          is the ability to...
        </p>
        <a
          href="https://www.theguardian.com/commentisfree/2025/mar/10/smartphones-steal-film-extra-device-screen"
          class="read-more"
          >Read More</a
        >
      </section> -->

      <!-- <section class="opinion-articles">
        <img src="./assets/opinionimages/insert.jpg" alt="bug" />
        <h2>
          Enough with unicorns and dinosaurs – show children the magic of real,
          living animals instead.
        </h2>
        <p><strong>Isabel Losada | </strong>Thu 13 Mar 2025 10.00 GMT</p>
        <p>
          Has it ever struck you as interesting the amount of dinosaur products
          that are marketed to boys and unicorn products to girls? I recently
          visited...
        </p>
        <a
          href="https://www.theguardian.com/commentisfree/2025/mar/13/children-unicorns-dinosaurs-living-animals-environmentalists"
          class="read-more"
          >Read More</a
        >
      </section> -->

      <!-- <section class="opinion-articles">
        <img src="./assets/opinionimages/putin.jpg" alt="Putin" />
        <h2>
          We can’t know if Vladimir Putin will accept a ceasefire in Ukraine.
          But this is what he’ll be thinking.
        </h2>
        <p><strong>Orysia Lutsevych | </strong>Thu 13 Mar 2025 10.13 GMT</p>
        <p>
          At this stage of the crisis, it is important to be clear-sighted. The
          US-Ukraine meeting in Jeddah was a damage-control operation. Both
          parties reset relations that had been damaged, largely ...
        </p>
        <a
          href="https://www.theguardian.com/commentisfree/2025/mar/13/vladimir-putin-accept-ceasefire-ukraine-kremlin-russia-donald-trump"
          class="read-more"
          >Read More</a
        >
      </section> -->

      <!-- <section class="opinion-articles">
        <img src="./assets/opinionimages/drunkWoman.jpg" alt="Tousist" />
        <h2>
          Attacking a young tourist over her treatment of a wombat is
          hypocritical – and misses the point.
        </h2>
        <p><strong>Georgie Purcell | </strong>Fri 14 Mar 2025 06.33 GMT</p>
        <p>
          We’ve all seen the distressing footage of an American influencer
          taking a wombat joey away from its mother. The joey hisses and stirs,
          while the distraught mother circles the woman until she eventually
          drops it back to the side of the ...
        </p>
        <a
          href="https://www.theguardian.com/commentisfree/2025/mar/13/vladimir-putin-accept-ceasefire-ukraine-kremlin-russia-donald-trump"
          class="read-more"
          >Read More</a
        >
      </section> -->
    </main>

    <!-- Footer Section -->
    <%- include('./partials/footer.ejs') %>

    <script>
      apiUrl = `https://newsapi.org/v2/top-headlines?country=us&apiKey=94710bfc54a44f1a9796e81a0bd2e446`;

      async function fetchNews(apiUrl) {
        try {
          const res = await fetch(apiUrl);
          if (!res.ok) {
            throw new Error(`HTTP error! Status: ${res.status}`);
          }
          const data = await res.json();
          if (data.articles && data.articles.length > 0) {
            displayNews(data.articles);
          } else {
            console.log("No article found");
          }
        } catch (err) {
          console.log("error fetching news: ", err);
        }
      }

      function displayNews(articles) {
        const opinionArticle = document.getElementById("opinionArticles");

        opinionArticle.innerHTML = "";

        articles.forEach((articles) => {
          const opinionCard = document.createElement("article");

          opinionCard.className = "opinion-articles";

          opinionCard.innerHTML = `
    <img src="${
      articles.urlToImage || "https://via.placeholder.com/400"
    }">    <h2>${articles.title}</h2>
    <p>${articles.description || "No decription available"}</p>
    <a href="${articles.url}" target="_blank" class="read-more">Read more</a>`;

          opinionArticle.appendChild(opinionCard);
        });
      }

      fetchNews(apiUrl);
    </script>
    <script src="/js/scipt.js"></script>
  </body>
</html>
