<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- Header Section -->
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>

    <!-- Main Section -->
    <main>
      <div class="slideshow-container">
        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <a
            href="https://youtu.be/POnQrArfy4g?si=zGec_AIZ5ncj84aw"
            class="podcast-img"
          >
            <img src="./assets/podcast/hop.jpg" style="width: 100%" alt="" />
          </a>
          <div class="podcast-title">
            HOPE REVOLUTION EPISODE 9 : A Mother's Story: Surviving The
            Unthinkable
          </div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <a
            href="https://youtu.be/rH7NOuOGJzA?si=9KNVJtnDKNyPuGpf"
            class="podcast-img"
          >
            <img
              src="./assets/podcast/sddefault.jpg"
              style="width: 100%"
              alt=""
            />
          </a>
          <div class="podcast-title">
            MBUYISENI NDLOZI on EFF, FLOYD SHIVAMBU, JULIUS MALEMA, DONALD
            TRUMP, GNU, VBS BANK I EPISODE 636
          </div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <a
            href="https://youtu.be/0_VigIWitfs?si=52S83ZIvFzZCcAoT"
            class="podcast-img"
          >
            <img src="./assets/podcast/konvo.jpg" style="width: 100%" alt="" />
          </a>
          <div class="podcast-title">
            The Konvo Show: Penuel In Conversation With Warras Stock, Ricky
            Rick, Unreal Engine, Loadshedding...
          </div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
      </div>
      <br />

      <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>

      <div class="content-container">
        <div class="posts" id="posts">
          <h2 class="posts_container-title"></h2>
          <div class="post-card">
            <img class="post-thumbnail" alt=""/>
            <div class="post-short-content">
              <a class="post-title"></a>
              <div class="details"></div>
              <p class="short"></p>
              <a class="read-more"></a>
            </div>
          </div>
        </div>
        <!-- <div class="posts" id="posts">
          <h2 class="posts_container-title">Podcast</h2>
          <div class="post-card">
            <img
              class="post-thumbnail"
              src="./assets/podcast/Afro.jpeg"
              alt="post-thumbnail"
            />

            <div class="post-short-content">
              <a
                href="https://stitcher2.acast.com/livestitches/a95c0c8889022d3717f5a919101963db.mp3?ci=RQJvnJhx5q9uctfRnamV5Wtar56-II9zem8I6GgKn-JALLtQKW_IFQ%3D%3D&pf=rss&sv=sphinx%401.231.1&uid=a3f0c0cea77bc34b602d9496c4e5d81d&Expires=1741919737962&Key-Pair-Id=K38CTQXUSD0VVB&Signature=grT1pH-wk15PWj3l6IBH9nsuUlR51TjamvBwZdPIUte1~iwPJbdiRY5jmaNxhBZjyYbfntcqRit18krrtVJyV9Q-sIEhZlbSZ8mBkUBpWJfrbhskh4Mn~dHegC23oNY8yyqiqpqRIvCotNgoUtaXcc8FAi616hP5sje~N-p873qGUYKBOV1SPLJfaZEVSqFwH5TpFIH2KI5KRvkTI7cd6kkFm0fZnUJmYsbQ0Of8G4zp3W3h6ogcXQuoi0OqosH3XfZmvaT-~woSEZWP0g74Ye9-~2MuOg4DtQM3cB0orVx2kaYhy-5PKZpPV5EtSah3ef7l7ycD5i8TRhzud1eVcg__"
                class="post-title"
                >Joshua Baraka East Africans..
              </a>
              <div class="details">
                <span class="post-date">August 03, 2024</span>
                <span class="post-type">Society & Culture</span>
              </div>
              <p class="short">
                Joshua Baraka 6:40 I was born in the ghetto but I didn’t
                participate in ghetto activities!12:27 I was paid 800k for my
                first ever performance; I performed for just 10 minutes!15:20
                I’m three years in, and carrying my nation on my back.19:48
                There’s a lot of illiteracy in Uganda…21:00 When my song blew
                up, people thought I was a Nigerian!23:30 It’s important for
                artists to know how to perform live.26:55 East Africans are such
                lazy studio artists, but…
              </p>
              <a
                href="https://www.podbean.com/site/EpisodeDownload/DIR1F7B2D63DIUSR"
                class="read-more"
                >Read more</a
              >
            </div>
          </div>
          <div class="post-card">
            <img
              class="post-thumbnail"
              src="./assets/podcast/Majozi_copy.jpg"
              alt="post-thumbnail"
            />

            <div class="post-short-content">
              <a
                href="https://content.libsyn.com/p/d/1/2/d1275c389620bfef/TATC_-_Majolzi_and_American_Authors___V.1.mp3?c_id=169547348&cs_id=169547348&response-content-type=audio%2Fmpeg&Expires=1741913801&Signature=Umv~vYw1lCqFOQ0lYz~qss8VEwdjdubjW1xnwPSnEGVd38irKgmjA4iP5fHlNTmpYjD2LJIL68uUseFhG4P4bOnEhhNUwJjbF~uXUKHSBCkquv39-5-XMEMUa8v5N~ksGijrET4luc3Vv1a~L~grVX3DZYCqADsTbf62R3Fjb6XLSc63h5PqX8noIiIKXPpCc4~dwaprHq~tdM0SXImCiv-kjWSByQRYLyiyKQuOeIw1ZED8Rxj~s1WsfKDO5Xu03FwmvmKA-oEpFrHe7R13xiRrH5yxdQJUZp3zSqNsA83gi5I4OiWEQpS58EvuVLA~de54EryEb2QRdd8oZ5ZdXg__&Key-Pair-Id=K1YS7LZGUP96OI"
                class="post-title"
                >Majozi</a
              >
              <div class="details">
                <span class="post-date">March 22, 2024</span>
                <span class="post-type">Music:Music Interviews</span>
              </div>
              <p class="short">
                Majozi chats to Texx about the songs that for him embody the
                spirit of South Africa, the exciting technical developments with
                his set, and how stoked he is to be a part of Halfway Group’s
                new campaign “On Track To Better”.
              </p>
              <a
                href="https://www.podbean.com/site/EpisodeDownload/DIR1DD82588FFHX6"
                class="read-more"
                >Read more</a
              >
            </div>
          </div>

          <div class="post-card">
            <img
              class="post-thumbnail"
              src="./assets/podcast/DailySh.jpg"
              alt="post-thumbnail"
            />

            <div class="post-short-content">
              <a
                href="https://dl.iono.fm/epi/prov_179/epi_501808_high.mp3?p=rss"
                class="post-title"
                >Countdown to ANC Election
              </a>
              <div class="details">
                <span class="post-date">November 14, 2017</span>
                <span class="post-type">News</span>
              </div>
              <p class="short">
                CliffCentral.com — Scholar and anti-apartheid activist Raymond
                Suttner and Daily Maverick journalist Richard Poplak talk about
                the ANC, a month before the party's elective conference.
              </p>
              <a
                href="https://www.podbean.com/site/EpisodeDownload/DIR31CFE90RIYTJ"
                class="read-more"
                >Read more</a
              >
            </div>
          </div>
        </div> -->

        <aside>
          <div class="recent-posts">
            <h3 class="rc_posts_container-title">Recent Podcast</h3>
            <hr />
            <div class="rc_post-card">
              <img
                class="rc_post-thumbnail"
                src="./assets/podcast/recen.jpg"
                alt="rc_post-thumbnail"
              />

              <div class="post-short-content">
                <a
                  href="https://dl.iono.fm/epi/prov_577/epi_1532870_medium.m4a?p=rss"
                  class="rc_post-title"
                  >How to Deal with the Loss of a Family Member</a
                >
                <div class="rc_details">
                  <span class="post-date">March 04, 2025</span>
                  <span class="rc_post-type">Kids & Family</span>
                </div>
                <p class="recent-short">
                  When we face the loss of a loved one, especially a child, or a
                  parent, it might be the most confusing process in our lives -
                  and chances are, most of us are just not prepared for such
                  events to ever happen. Sometimes, all we need is a little
                  guidance to work through difficult times, together. Join us
                  for this special Bereavement Series where we speak to
                  professional counsellors & experts, to be better equipped -
                  mentally, emotionally, and for the actual practical
                  implications - when a loved one passes. Our guest this week,
                  Carin Marcus, shares her knowledge as a Clinical social worker
                  (with over 25 years of experience) on bereavement. Over the
                  next few months, we'll be presenting our support series for
                  handling grief in various circumstances. Brought to you by
                  Epi-Max Baby & Junior - Our Family, for Your Family. Sponsored
                  by Curaprox and supported by Jacaranda FM. The following
                  episode contains sensitive subject matter for someone that has
                  lost a loved one. We have interviewed professional experts on
                  each topic, and taken extra care to cover the subjects with
                  sensitivity.
                </p>
                <a
                  href="https://www.podbean.com/site/EpisodeDownload/DIR241A0CDBRMZH9"
                  class="recent-read-more"
                  >Read more</a
                >
              </div>
            </div>
            <div class="rc_post-card">
              <img
                class="rc_post-thumbnail"
                src="./assets/podcast/recen.jpg"
                alt="rc_post-thumbnail"
              />
              <div class="post-short-content">
                <a
                  href="https://dl.iono.fm/epi/prov_577/epi_1528310_medium.m4a?p=rss"
                  class="rc_post-title"
                  >From Bump to First Tooth: Caring for Baby’s Oral Health</a
                >
                <div class="rc_details">
                  <span class="post-date">February 18, 2025</span>
                  <span class="rc_post-type">Kids & Family</span>
                </div>
                <p class="recent-short">
                  It's a tiny smile that could be worth a lifetime of joy!
                  Discover the fascinating journey of healthy teeth & gums - and
                  Why it's so important to ensure we have good oral health, even
                  before we are pregnant. Thanks to CuraProx, this week's Guest
                  helps us to really understand the role that our Dental health
                  plays in long-term health & vitality. Paediatric Dentist, Dr
                  Coené Bezuidenhout, explains why the first 1000 days matter -
                  but even more important: the fact that baby's oral health is
                  entirely affected by How healthy Mom's teeth & gums are.
                  Brought to you by Epi-Max Baby & Junior - Our Family, for Your
                  Family. Sponsored by Curaprox and supported by Jacaranda.
                </p>
                <a
                  href="https://www.podbean.com/site/EpisodeDownload/DIR23DB1C4ANAT7H"
                  class="recent-read-more"
                  >Read more</a
                >
              </div>
            </div>
          </div>

          <div class="posts_tags">
            <h3>Discover Popular Topics</h3>
            <hr />
            <div class="tags-container">
              <div
                x-data="{tags: [
                  {tag:'Home', path:'http://127.0.0.1:5500/home.html'},
                  {tag:'Podcast', path:'http://127.0.0.1:5500/podcast.html'},
                  {tag:'Contacts', path:'http://127.0.0.1:5500/contact.html'},
                  {tag:'About', path:'http://127.0.0.1:5500/about.html'},
                  {tag:'Vacancies', path:'http://127.0.0.1:5500/vacancies.html'},
                  {tag:'Sport', path:'http://127.0.0.1:5500/sports.html'}
                  ]}"
                class="tags"
              >
                <template x-for="tag in tags" :key="tag.tag">
                  <a class="tag" x-text="tag.tag" :href="tag.path"></a>
                </template>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </main>

    <!-- Footer Section -->
    <%- include('./partials/footer.ejs') %>

    <script>
      const apiUrl = `https://newsapi.org/v2/top-headlines?country=us&apiKey=94710bfc54a44f1a9796e81a0bd2e446`;

      async function fetchNews(apiUrl) {
        try {
          const res = await fetch(apiUrl);
          if (!res.ok) {
            throw new Error(`HTTP error! Status: ${res.status}`);
          }
          const data = await res.json();
          if (data.articles && data.articles.length > 0) {
            displayNews(data.articles);
          } else {
            console.log("No article found");
          }
        } catch (err) {
          console.log("error fetching news: ", err);
        }
      }

      function displayNews(articles) {
        const post = document.getElementById("posts");

        post.innerHTML = "";

        articles.forEach((articles) => {
          const postCard = document.createElement("div");

          postCard.className = "posts";

          postCard.innerHTML = `
    <img src="${
      articles.urlToImage || "https://via.placeholder.com/400"
    }" class="post-thumbnail">    
    <h2 class="posts_container-title">${articles.title}</h2>
    <p class="short">${articles.description || "No description available"}</p>
    <a href="${articles.url}" target="_blank" class="post-title">Read more</a>`;

          post.appendChild(newsCard);
        });
      }

      // let slideIndex = 1;
      // showSlides(slideIndex);

      // function plusSlides(n) {
      //   showSlides((slideIndex += n));
      // }

      // function currentSlide(n) {
      //   showSlides((slideIndex = n));
      // }

      // function showSlides(n) {
      //   let i;
      //   let slides = document.getElementsByClassName("mySlides");
      //   let dots = document.getElementsByClassName("dot");
      //   if (n > slides.length) {
      //     slideIndex = 1;
      //   }
      //   if (n < 1) {
      //     slideIndex = slides.length;
      //   }
      //   for (i = 0; i < slides.length; i++) {
      //     slides[i].style.display = "none";
      //   }
      //   for (i = 0; i < dots.length; i++) {
      //     dots[i].className = dots[i].className.replace(" active", "");
      //   }
      //   slides[slideIndex - 1].style.display = "block";
      //   dots[slideIndex - 1].className += " active";
      // }
    </script>
    <script src="./js/scipt.js"></script>
  </body>
</html>
