/* ===== RESETS & FONTS ====== */
/* ===== BASE STYLES ===== */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #18253f;
  color: white;
}

main {
  width: 100%;
  margin: auto;
  background: #070a1f;
  padding: 20px;
  box-shadow: 0 0 10px rgba(210, 180, 180, 0.1);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 100px;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Form Elements */
input, textarea, button {
  font-family: inherit;
  font-size: inherit;
}