<!DOCTYPE html>
<html lang="en">
<body>
    <main class="error-page">
        <section class="error-section">
            <h2>
                <i class="fa fa-exclamtion-triangle" aria-label="Error Icon"></i>
                The page you requested does not exist!
            </h2>
        </section>
    </main>
</body>
</html>
